<%- include('header'); -%>

  <div class="contaier-fluid">
    <div class="box">
      <h3>Information</h3>
      <hr>
      <p> This website provides REST API for 3 different things i.e for poem, movie and series famous dialouge and short stories. The use is pretty simple and easy.It can be used without any API token, membership, registration or payment.</p>
    </div>

    <div class="box">
      <h3>PoemAPI</h3>
      <hr>
     <p> PoemAPI is a REST API that serves uniformly and well formatted poems . It can be used without any API token,   membership, registration or payment.
      It supports a filters that can be applied to get just the right poem you need based on poem name.
      The usage is very simple and similar to other RESTful APIs and requires only basic knowledge of HTTP requests and JSON
      </p>
     <a class="nav-link" href="/poemhomer"><button type="button" class="mmargin btn btn-dark  " ><i class="fas fa-pencil-alt"></i> Poem... </button></a>
    </div>
    <div class="box">
    <h3>DialogueAPI</h3>
      <hr>
    <p> DialogueAPI is a REST API that serves uniformly and well formatted dialogue . It can be used without any API token,   membership, registration or payment.
      It supports a filters that can be applied to get just the right poem you need based on movie or series name.
      The usage is very simple and similar to other RESTful APIs and requires only basic knowledge of HTTP requests and JSON
      </p>
    <a class="nav-link" href="/dialoguehomer"><button type="button" class="mmargin btn btn-dark  " ><i class="fas fa-comments"></i> Dialogue...</button></a>
    </div>
    <div class="box">
    <h3>StoryAPI</h3>
    <hr>
    <p> StoryAPI is a REST API that serves uniformly and well formatted short stories . It can be used without any API token,   membership, registration or payment.
      It supports a filters that can be applied to get just the right poem you need based on story name.
      The usage is very simple and similar to other RESTful APIs and requires only basic knowledge of HTTP requests and JSON
      </p>
    <a class="nav-link" href="/storyhomer"><button type="button" class="mmargin btn btn-dark  " ><i class="fas fa-book"></i> Story...</button></a>
    </div>
  </div>

<%- include('footer'); -%>
